body{
    background-color: #252525;
}
.icones-navbar{
    color: white;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-brand{
    margin-bottom: 10px;
}
.nav-form{
    margin-bottom: 10px;
}
.icones-navbar{
    margin-bottom: 10px;
}
.nav-link{
    color: white;
}
.valor-compra{
    color: white;
}
.input-pesquisar{
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #bf9577;
}
.btn-outline-success{
    border: 1px solid #bf9577;
    color: #bf9577;
}
.legenda-carousel{
    width: 100%;
    background-color: #252525;
    padding: 20px;
}
.title-banner{
    font-size: 1.5rem;
}
@media (min-width: 992px){
    .nav-form{
        width: 50%;
    }
}
@media (min-width: 768px){
    .nav-form{
        width: 70%;
    }
}
@media (max-width: 576px){
    .legenda-carousel{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: #252525;
        font-size: 10pt;
    }
    .title-banner{
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .text-carousel{
        margin-bottom: 0px;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
} 