body{
    background-color: #252525;
}
.icones-navbar{
    color: white;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-brand{
    margin-bottom: 10px;
}
.nav-form{
    margin-bottom: 10px;
}
.icones-navbar{
    margin-bottom: 10px;
}
.nav-link{
    color: white;
}
.valor-compra{
    color: white;
}
.input-pesquisar{
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #bf9577;
}
.btn-outline-success{
    border: 1px solid #bf9577;
    color: #bf9577;
}
.legenda-carousel{
    width: 100%;
    background-color: #252525;
    padding: 20px;
}
.title-banner{
    font-size: 1.5rem;
}
#botao-pesquisar:hover{
    background-color: #bf9577;
    border: 1px solid #bf9577;
    color: white;
}
#botao-pesquisar:active{
    color: #a64d00;
}	
.input-pesquisar:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #bf9577
}
.mini-banners {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ajusta o espaçamento entre os elementos */
}
#mini-banner-1{
    background-image: url('../img/relogio1.png');
    background-size: 30% 90%;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
#mini-banner-2{
    background-image: url('../img/relogio2.png');
    background-size: 25% 90%;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background-color: #c09578;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
#mini-banner-3{
    background-image: url('../img/relogio3.png');
    background-size: 35% 90%;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background-color: #fbf5eb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
#text-mini-banner-1{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
}
#text-mini-banner-2{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
}
#text-mini-banner-3{
    color: #65635f;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px;
}
#link-mini-banner-1{
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 5px;
}
#link-mini-banner-2{
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 5px;
}
#link-mini-banner-3{
    color: #65635f;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 5px;
}
.mini-banners div {
    width: 30%; /* Define a largura dos mini-banners */
    height: 250px; /* Define a altura dos mini-banners */
    background-size: cover; /* Faz a imagem de fundo cobrir todo o elemento */
    background-position: center;
    background-repeat: no-repeat;
}
.text-title-section{
    margin-top: 10px;
    color: #c09578;
    margin-bottom: 20px;
    font-weight: bold;
}
.botao-comprar-cards{
    background-color: transparent;
    color: white;
    border: 1px solid #bf9577;
    color: white;
}
.botao-comprar-cards:hover{
    background-color: #bf9577;
    border: 1px solid #bf9577;
    color: white;
}
.card-text{
    color: #bf9577;
    font-size: 1.2rem;
    font-weight: bold;
}
.card{
    background-color: transparent;
    border: 1px solid #545454;
    border-radius: 0px;
}
.card-title{
    color: white;
}
.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: contain;
}
.container-destaque{
    background-color: black;
}
.imagem-destaque{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
#texto-destaque-1{
    color: #bf9577;
    font-weight: bold;
    font-size: 1rem;
}
#texto-destaque-2{
    color: white;
    font-weight: bold;
    font-size: 48px;
}
#texto-destaque-3{
    color: white;
    font-size: 1rem;
    text-align: center;
}
#text-1-novidades{
    color: #545454
}
#text-2-novidades{
    color: white;
    font-size: 50px;
}
#text-3-novidades{
    color: #bf9577;
}
.lateral-novidades{
    background-color: black
}
.card-img-top{
    margin-top: 10px;
}
#imagem-1{
    background-image: url('../img/insta1.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
#imagem-2{
    background-image: url('../img/insta2.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
#imagem-3{
    background-image: url('../img/insta3.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
#imagem-4{
    background-image: url('../img/insta4.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
#imagem-5{
    background-image: url('../img/insta5.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
#imagem-6{
    background-image: url('../img/insta6.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.galeria{
    cursor: pointer;
}
.title-footer{
    color: white;
}
.links-footer{
    text-decoration: none;
    color: #545454;
}
#telefone{
    color: #bf9577;
    font-size: 1.5rem;
    text-decoration: none;
}
#text-telefone{
    color: #545454;
    text-align: center;
    margin-bottom: 0;
}
.paginas-footer{
    border-right: 1px solid #545454;
}
.informacoes-footer{
    border-left: 1px solid #545454; 
}
#text-form{
    color: #545454;
}
.icones-sociais{
    color: #545454;
    font-size: 1.7rem;
    margin-left: 15px;
    margin-right: 15px;
}
.contato{
    color: #bf9577;
}
.input-email{
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #bf9577;
    background-color: transparent;
    color: white;
    margin-right: 10px;
    width: 50%;
}
.input-email::placeholder{
    color: white;
}
.input-email:focus{
    border: 1px solid #bf9577;
    box-shadow: none;
    background-color: transparent;
    color: white;
}
.container-noticias{
    border-top: 1px solid #545454;
    background-color: black;
}
#text-direitos{
    color: white;
    text-align: center;
    margin-bottom: 0px;
}
#link-site{
    color: #bf9577;
    text-decoration: none;
    font-weight: bold;
}
@media (min-width: 992px){
    .nav-form{
        width: 50%;
    }
}

@media (min-width: 768px){
    .nav-form{
        width: 70%;
    }
    #mini-banner-1{
        background-size: 40% 60%;
    }
    #mini-banner-2{
        background-size: 30% 60%;
    }
    #mini-banner-3{
        background-size: 40% 60%;
    }
    #telefone{
        font-size: 1.3rem;
    }
    .form-pesquisa{
        width: 70%;
    }
}
@media (max-width: 576px){
    .legenda-carousel{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: #252525;
        font-size: 10pt;
    }
    .title-banner{
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .text-carousel{
        margin-bottom: 0px;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .mini-banners{
        flex-direction: column;
        align-items: center;
    }
    #mini-banner-1{
        width: 95%;
        margin-bottom: 20px;
    }
    #mini-banner-2{
        width: 95%;
        margin-bottom: 20px;
    }
    #mini-banner-3{
        width: 95%;
        margin-bottom: 20px;
    }
    .card{
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .div-imagem-destaque{
        margin-top: 20px;
    }
    .lateral-novidades{
        height: 300px;
    }
    .paginas-footer{
        border-top: 1px solid #545454;
        border-right: 0px;
    }
    .watchtime-footer{
        border-top: 1px solid #545454;
    }
    .informacoes-footer{
        border-top: 1px solid #545454;
        border-left: 0px;
    }
    .form-pesquisa{
        width: 100%;
    }
}
@media (min-width: 992px){
    #mini-banner-1{
        background-size: 30% 90%;
    }
    #mini-banner-2{
        background-size: 25% 90%;
    }
    #mini-banner-3{
        background-size: 35% 90%;
    }
    #texto-destaque-2{
        font-size: 60px;
    }
    .form-pesquisa{
        width: 70%;
    }
}